/* BASE */
/* VARIABLES */
html, body, body *, *, *::before, *::after {
  box-sizing: border-box; }

body, html, h6, h5, h4, h3, h2, h1 {
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0; }

img {
  display: inline-block;
  max-width: 100%; }

a {
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

ul, ol {
  list-style: none; }

input:focus, textarea:focus, a:focus {
  outline: none; }

/* UTILITIES */
/* MIXINS */
/* LAYOUT */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container--general {
    max-width: 1200px; }

