html, body, body *, *, *::before, *::after {
    box-sizing: border-box;
}

body, html, h6, h5, h4, h3, h2, h1 {
    font-size: $baseFont + px;
    font-weight: 400;
    padding: 0;
	margin: 0;
}

img {
	display: inline-block;
	max-width: 100%;
}

a {
	text-decoration: none;
	cursor: pointer;
	&:hover{
		text-decoration: none;
	}
}

ul, ol {
	list-style: none;
}

input:focus, textarea:focus, a:focus {
	outline: none;
}
