/* MIXINS */

// MEDIAQUERIES

@mixin mq($media){
    @if type-of($media) == number {
        @if unitless($media){
            @media only screen and (max-width: #{$media}px){
                @content;
            }
        }
    } @else{
        @if type-of(map-get($mediaqueries,$media)) == number {
            @media only screen and (max-width: #{map-get($mediaqueries,$media)}px){
                @content;
            }
        } @else if type-of(map-get($mediaqueries,$media)) == string {
            @media #{map-get($mediaqueries,$media)}{
                @content;
            }
        }
    }
}
